//Colors
$codac-primary-color: #02645a;

$border-solid: 1px solid;
$border-solid-xl: 3px solid;
$border-radius: 0.25em;

//T
$smaller-text: 60%;

//Spacing
$reg-space: 1rem;
$sm-space: 0.5rem;
$xs-space: 0.25rem;

$font: "Noto Sans", sans-serif;
