@tailwind base;
@tailwind components;
@tailwind utilities;
.card {
  border-radius: 16px;
  background: #17141d;
  box-shadow: -1rem 0 3rem #000;
  transition: 0.2s;
  min-width: 15rem;

  margin-right: 0rem;
}
.cardCohort {
  background: #17141d;
  box-shadow: -1rem 0 3rem #000;
}

.card:hover {
  transform: translateY(-1rem);
}

.card:hover ~ .card {
  transform: translateX(130px);
}

.card:not(:first-child) {
  margin-left: -130px;
}
